<%= form_with(model: property, local: true) do |form| %>
  <% if property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
      <% property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :property_name, '物件名' %><br>
    <%= form.text_field :property_name %>
  </div>
  <div class="field">
    <%= form.label :rent, '賃料' %><br>
    <%= form.number_field :rent %>円
  </div>
  <div class="field">
    <%= form.label :address, '住所' %><br>
    <%= form.text_field :address %>
  </div>
  <div class="field">
    <%= form.label :age, '築年数' %><br>
    <%= form.number_field :age %>年
  </div>
  <div class="field">
    <%= form.label :remarks, '備考' %><br>
    <%= form.text_area :remarks %>
  </div>
  <p class="line"></p>
  <% i= 0 %>
    <%= form.fields_for :nearest_stations do |nearest_station| %>
      <h2>最寄駅<%= i = i+1 %></h2>
    <div class="field">
      <%= nearest_station.label :route, '路線名' %><br>
      <%= nearest_station.text_field :route %>線
    </div>
    <div class="field">
      <%= nearest_station.label :station, '駅名' %><br>
      <%= nearest_station.text_field :station %>駅
    </div>
    <div class="field">
      <%= nearest_station.label :minnutes_walk, '徒歩分数' %><br>
      <%= nearest_station.number_field :minnutes_walk %>分
    </div><br>
    <% end %>
    
  <div class="actions">
    <%= form.submit '登録する' %>
  </div>
<% end %>